@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@theme {
  --color-primary: #1a365d;
  --color-secondary: #4a5568;
  --color-tertiary: #f6ad55;
  --color-neutral: #f7fafc;

  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

* {
  font-family: "JetBrains Mono", monospace;
}

.selected {
  color: #1a365d;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1a365d;
  text-underline-offset: 5px;
}
