@import "tailwindcss";

@theme {
  --color-primary: #1a365d;
  --color-secondary: #4a5568;
  --color-tertiary: #f6ad55;
  --color-neutral: #f7fafc;

  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}
