@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite-react/plugin/tailwindcss";


@theme {
  --color-primary: #1a365d;
  --color-secondary: #4a5568;
  --color-tertiary: #f6ad55;
  --color-neutral: #f7fafc;
  --color-subtext: #696969;
  --color-border: #eef1f3;
}

@utility hover-bg {
    @apply hover:bg-gray-100 hover:cursor-pointer hover:transition hover:duration-200
}
@utility hover-underline {
    @apply hover:cursor-pointer hover:transition hover:duration-200 hover:underline
}

@utility table-header {
    @apply px-5 py-1.5 text-start text-sm font-medium
}

@utility completed-task {
    @apply hover:cursor-pointer hover:opacity-80  border-b border-border text-sm bg-green-200
}

@utility incomplete-task {
    @apply hover:cursor-pointer hover:bg-gray-100  border-b border-border text-sm
}

@utility button {
    @apply hover:opacity-80 px-4 py-1.5 border bg-primary text-white rounded-md
}



* {
    font-family: "Manrope", sans-serif;
}

a.active {
  color: #1a365d;
  font-weight: 600;
  /*text-decoration: underline;*/
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-decoration-color: #1a365d;

}
